<!DOCTYPE html>
<html lang="id">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="admin-body">
    <main>
      <%- body %>
    </main>
    <%- include('../partials/scripts') %>
  </body>
</html>
