<section class="section admin-login-wrap">
  <div class="container narrow">
    <h1>Login Admin</h1>
    <form id="adminLoginForm" class="checkout-form">
      <label>ID Admin</label>
      <input type="text" name="id" required />
      <label>Password</label>
      <input type="password" name="password" required />
      <button type="submit" class="btn">Login</button>
      <p id="adminLoginResult" class="result-text"></p>
    </form>
  </div>
</section>
